<template name="Header">
    <div style="border-radius: 0px" class="ui borderless inverted menu">
  <div class="ui container">
    <img style="max-height: 60px; max-width: 60px" class="ui small circular image" src="/images/uh-logo.png">
      <a style="color: white" class="item" href="{{pathFor 'Home_Page'}}"><h1>UH FLEA MARKET</h1></a>
    <a style="color: white" class="item" href="{{pathFor 'Sell_Page'}}">Sell Item</a>
    <a style="color: white" class="item" href="{{pathFor 'List_Item_Page'}}">Items List</a>
    <a style="color: white" class="right aligned item" href="{{pathFor 'Login_Page'}}">Login</a>
    <a style="color: white" class="item" href="{{pathFor 'Sign_Up_Page'}}">Sign Up</a>
    </div>
  </div>
</template>